.viewhead {
  display: flex;
  border-bottom: 0.5vw solid #a88e7d;
  justify-content: space-evenly;
}
.viewhead div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 12vw;
  height: 3.5vh;
  background-color: #f3eadc;
  border: 0.2vw solid #a88e7d;
  border-radius: 3vw;
  margin: 3vh 0vw;
}
.viewhead div:hover {
  background-color: #a88e7d;
  color: white;
}
.adcontainer {
  display: flex;
  justify-content: center;
}
.ad {
  margin-top: 3vh;
  width: 90vw;
  height: 40vh;
  background-color: #f3eadc;
  border: 0.4vw solid #a88e7d;
  border-radius: 2vw;
  padding: 2vh 2vw;
  display: flex;
  flex-direction: column;
  position: relative;
}
.adName {
  font-size: 8vw;
  font-weight: bold;
  color: #9b633e;
  margin-bottom: 3vh;
}
.adText {
  font-size: 3.5vw;
  font-weight: bold;
  color: #9b633e;
}
.adTextunder {
  font-size: 3vw;
  font-weight: bold;
  color: #9b633e;
  margin-left: 4vw;
}

.ad a {
  margin-top: 3vh;
  font-size: 3.5vw;
  font-weight: 600;
  color: #ceb5a4;
}
.nicoface {
  position: absolute;
  width: 45vw;
  bottom: 38%;
  right: 10%;
  opacity: 0.5;
  border-radius: 50%;
}
